
@media (min-width: 1100px){



/******************************************/
/****************TICKETS*******************/
/******************************************/


.ticketHeader{
  text-align: center;
  width: 100%;
  display: inline-block;
 border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  background-color: #f26051;
}

.ticketHeader li{
  display: inline-block;
  width: 31%;
  border-left: solid #f0f0f5 1px;
}

.ticketHeader li { 
  font-family: 'Josefin Slab', serif;
  letter-spacing: .15em;
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
}



.ticketHeader li:hover {
  -webkit-animation: neonGA 1.5s ease-in-out infinite alternate;
  -moz-animation: neonGA 1.5s ease-in-out infinite alternate;
  animation: neonGA 1.5s ease-in-out infinite alternate;
}

.ticketHeader li:first-of-type{
  border-left: none;
}

.navlist a {
  text-decoration: none;
  line-height: 1.5;
  vertical-align: text-bottom;
  margin: 0;
  text-align: center;
}

.tickets{
  padding-bottom: 130px;
}

.ticketType{
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%
}

.ticketImage{
  max-width: 50%;
  float: left;
  height: auto;
  padding:15px;
  padding-bottom: 30px;

}

.ticketInfo{
  max-width: 50%;
  float: left;
  display: inline-block;
  overflow: hidden;
}

.ticketInfo h1{
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: gray;
  opacity: .75;
  padding: 15px;
}

.ticketInfo h2{
  width: 30%;
  margin: auto;
  text-align: center;
}

.ticketInfo ul{
  width: 80%;
  margin: auto;
}

.placeholderInfo{
  margin-top: 20px;
}

/*.startingImage{
    position: absolute;
    transform: translateX(400%);
    overflow: hidden;
    top: 40%;
}

.startingInfo{
    position: absolute;
    padding-top: 0px;
    transform: translateX(-200%);
    top: 40%;
}*/

.back{
  background: url("../images/watercolor.png");
  background-size: cover;
  color: #EFE6D7; 
}

.hideMe{
  display:none;
}


/******************************************/
/**************END TICKETS*****************/
/******************************************/




}