@media (min-width: 320px){
	/*small portrait screens*/

.content{
  height: 100vh;
}

header{
  padding: 15px;
  height:auto;
  
}

.navOptions>li{
  padding: 25px;
  display: inline-block;
  width: 100%;
}


.navOptions a { 
  font-size: 20PX;
  margin:auto;
}

footer{
  /*height:185vh;*/
  padding-top: 900px;
}


/******************************************/
/***********General Info*******************/
/******************************************/

.generalInfo{
  width:100%;
}

.gaContents{
  height: 275vh;
}

.gaContents::after{
  height: 140px;
  bottom: -110px;
}


.gaSection h1{
  font-size: 25px;
}

.center{
  width: 90%;
  margin: auto;
  content: '';
}

.gaSection p{
    font-size: 15px;  
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}


.gaSection img{
  display: block;
  width: 250px;
  margin:auto;
  margin-bottom: 10px;
  padding-top: 15px;
}

.indexFooter{
  height:35vh;
  padding-top: 140px;
}

/******************************************/
/************END General Info**************/
/******************************************/


/******************************************/
/*****************Lineup*******************/
/******************************************/

.artists{
  padding: 10px;
 /* height: 180vh;*/
}

.artists::after{
  height: 140px;
  bottom: -110px;
}

/*will have to change this for mobile*/
.artists a span {
  padding: 0 5 0 10px;
}

.artists > a{
  display: inline-block;
  padding:10px;
  font-size: 20px;
}

.artists > a::before
{
    content: "\25A0";
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    font-size: .65em;
    line-height: 2.30em;
    text-decoration: none
}

.featherlight-content{
  overflow: hidden;
}

#mylightbox{
  height:450px;
  width:250px;
}

#mylightbox div{
  font-size: 25px;
  padding-top: 10px;
}

#mylightbox img{
  width:150px;
}

#mylightbox iframe{
    left: 10px;
    top: 200px;
}
/******************************************/
/***************END LINEUP*****************/
/******************************************/

/******************************************/
/****************TICKETS*******************/
/******************************************/

.ticketsMain{
  height:100vh;
}


.ticketsMain::after{
    height: 140px;
    bottom: -100px;
}

.ticketsFooter{
  height:35vh;
  padding-top: 140px;
}

/******************************************/
/**************END TICKETS*****************/
/******************************************/


}   /*END MIN WIDTH 320*/



@media (min-width: 480px){
	/*large portrait screens*/


.content{
  height: 100vh;
}

.out{
  font-size: 25px;
}

.navOptions a { 
  font-size: 25PX;
}

footer{
  height:120vh;
  padding-top: 585px;
}

/******************************************/
/***********General Info*******************/
/******************************************/
.generalInfo{
  width:100%;
}

.gaContents{
  height: 400vh;
}


.gaSection h1{
  font-size: 32px;
}

.gaSection p{
    font-size: 25px;  
}


.gaSection img{
  width: 275px;
}

/******************************************/
/************END General Info**************/
/******************************************/


/******************************************/
/*****************Lineup*******************/
/******************************************/

.artists{
  padding: 10px;
 height: 135vh;
}

.artists::after{
  height: 140px;
  bottom: -110px;
}

.artists > a::before
{
    content: "\25A0";
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    font-size: .65em;
    line-height: 2.30em;
    text-decoration: none
}

.featherlight-content{
  overflow: hidden;
}

#mylightbox{
  height:450px;
  width:350px;
}

#mylightbox div{
  font-size: 32px;
  padding-top: 10px;
}

#mylightbox img{
  width:200px;
  padding:15px;
}

#mylightbox iframe{
    left: 60px;
    top: 250px;
}
/******************************************/
/***************END LINEUP*****************/
/******************************************/


/******************************************/
/****************TICKETS*******************/
/******************************************/



.ticketsMain{
  height:110vh;
}


.ticketsMain::after{
    height: 140px;
    bottom: -100px;
}


.ticketsFooter{
  height:35vh;
  padding-top: 140px;
}

/******************************************/
/**************END TICKETS*****************/
/******************************************/



}  /*END MIN WIDTH 480*/
 