html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Josefin Slab', serif;
  color:#ccc;
  font-weight: 800;
}

*,
*::before,
*::after{
	box-sizing:inherit;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


.container{
	margin: 0 auto;
}


header{
  background-image: url("../images/washington-dc-skyline-michael-tompsett.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-color: #00697f;
  margin: 0 auto;
}

header{
	width: 100%;
	float: left;
}


h1{
  font-size: 20px;
  font-weight: 700;
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
  margin: 0;
  padding: 15 0px;
}

.navlist{
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  text-align: center;
  width:100%;
}

.navlist img{
  float:right;
  padding-right:10px;
  padding-top: 15px;
  margin-bottom: 75px;
}

.navOptions{
  text-align: center;
  width:100%;
  text-align: center;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border: 1px solid black;
   background-color:rgba(204,204,204,.7);

}


.out{
  /*
  Ensure background is added first
  */  
  background: url("../images/watercolor.png");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

h1{
  padding: 15px 0px;
}


.navOptions a { 
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
  text-decoration: none;
  vertical-align: text-bottom;
  margin: 0;
}

.navOptions a:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.navOptions a a:hover {
  color: #fff;
}


footer{
  text-align: center;
  background-color: #f26051;
}

footer ul li {
  display: inline-block;
  list-style: none;
}


footer ul li a img:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.hideMe{
  display:none;
}


/******************************************/
/***********General Info*******************/
/******************************************/

.generalInfo{
  width:100%;
}

.gaContents{
  text-align: center;
  background-image: url(../images/green-grass.png);
  background-repeat: repeat;
  background-position: top;
  position: relative;
}

.gaContents::after{
    background-image: url(../images/green-bottom-tear.png);
    z-index: 2;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-position: top;
}


.gaSection{
  overflow:hidden;
  background-color:#00697f;
  background-image: url("../images/blue-dots.png");
  background-repeat: repeat;
  background-position: top;
  border: 15px solid #f26051;
  border-radius: 15px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.gaSection{
  margin-bottom: 20px;
}

.gaSection h1{
  text-align: center;
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
}

.center{
  width: 90%;
  margin: auto;
  content: '';
}


/******************************************/
/************END General Info**************/
/******************************************/

/******************************************/
/*****************Lineup*******************/
/******************************************/
.lineupSummary, .generalInfo{
  font-size: 25px;
  text-decoration: none;
  color: #1a39ff;
  background-color: #f26051;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  display: inline-block;
  padding:15px;
  font-family: 'Josefin Slab', serif;
  letter-spacing: .15em;
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
}


.artists{
  text-align: center;
  background-image: url(../images/green-grass.png);
  background-repeat: repeat;
  background-position: top;
  position: relative;
}


.artists::after{
    background-image: url(../images/green-bottom-tear.png);
    z-index: 2;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-position: top;
}

.artists a span {
  text-decoration: none;
  padding: 0 20px;
  line-height: 1.5em;
  color:black;
}

.artists > a{
  display: inline-block;
  padding:10px;
}

.artists > a::before
{
    content: "\25A0";
    display: inline-block;
    transform: rotate(45deg);
    color:black;
    position: absolute;
    font-size: .65em;
    line-height: 2.30em;
    text-decoration: none
}

/*.featherlight-content{
  overflow: hidden;
}*/

#mylightbox{
  overflow:hidden;
  background-color:#00697f;
  background-image: url("../images/blue-dots.png");
  background-repeat: repeat;
  background-position: top;
  border: 1px solid orange;
}

#mylightbox div{
  text-align: center;
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
}

#mylightbox img{
  display:block;
  height:auto;
  margin:auto;
  position: relative;
}

#mylightbox iframe{
  position: absolute;
}

/******************************************/
/***************END LINEUP*****************/
/******************************************/


/******************************************/
/****************TICKETS*******************/
/******************************************/

.ticketHeader{
  text-align: center;
  width: 100%;
  display: inline-block;
  border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  background-color: #f26051;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.ticketHeader li{
  display: inline-block;
  width: 31%;
  border-left: solid #f0f0f5 1px;
}

.ticketHeader li:first-of-type{
  border-left: none;
}

.ticketHeader li { 
  font-family: 'Josefin Slab', serif;
  letter-spacing: .15em;
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
}


.ticketHeader li:hover {
  -webkit-animation: neonGA 1.5s ease-in-out infinite alternate;
  -moz-animation: neonGA 1.5s ease-in-out infinite alternate;
  animation: neonGA 1.5s ease-in-out infinite alternate;
}

.ticketHeader a{
  text-decoration: none;
  color: #1a39ff;
  font-weight: 800;
  font-size: 20px;
}

li .gaButton{
  border-left-width: 0px;
}

.ticketsMain{
  background-image: url("../images/blue-dots.png");
  background-repeat: repeat;
  background-position: top;
  background-color: #00697f;
  margin: 0 auto;
  position: relative;
}


.ticketsMain::after{
    background-image: url(../images/bottom-tear.png);
    z-index: 2;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-position: top;
}

.tickets{
  padding-bottom: 130px;
}

.ticketType{
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  padding: 25px;
  display:none;
}

.placeholderInfo{
  margin-top: 20px;
}

.ticketInfo{
  width: 100%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1;
}

.ticketImage{
  display:none;
}

.ticketInfo h1{
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: gray;
  padding-top: 5px;
  font-size: 25px;
}


.ticketInfo h2{
  padding-top: 10px;
  font-size: 25px;
}

.ticketInfo li{
  padding:5 15px;
  font-size: 25px;
  margin-bottom: 10px;
}

.ticketInfo ul{
  padding: 0 15 15 15px;
}

.ticketInfo{
    -webkit-animation: GAboxShadow 1.5s ease-in-out infinite alternate;
  -moz-animation: GAboxShadow 1.5s ease-in-out infinite alternate;
  animation: GAboxShadow 1.5s ease-in-out infinite alternate;

}

.startingImage{
    overflow: hidden;
    transform: translateX(400%);
    top: 5%;
}

.startingInfo{
    top: 15%;
}

.back{
  background: url("../images/watercolor.png");
  background-size: cover;
  color: #EFE6D7; 
}

.ticketsFooter{
  height:35vh;
  padding-top: 140px;
}


/******************************************/
/**************END TICKETS*****************/
/******************************************/




/******************************************/
/************Added Effects*****************/
/******************************************/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*Neon Effect*/
/*glow for webkit*/


@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1a39ff, 0 0 35px #1a39ff, 0 0 40px #1a39ff, 0 0 50px #1a39ff, 0 0 75px #1a39ff;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1a39ff, 0 0 35px #1a39ff, 0 0 40px #1a39ff, 0 0 50px #1a39ff, 0 0 75px #1a39ff;
  }
}
/*glow*/


@keyframes neon6 {
  from {
    text-shadow: 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 180px #1a39ff, 0 0 250px #1a39ff, 0 0 300px #1a39ff, 0 0 350px #1a39ff, 0 0 390px #1a39ff;
  }
  to {    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
}


/*GA Effects #4BA436*/

@-webkit-keyframes neonGA {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}
/*glow for mozilla*/

@-moz-keyframes neonGA {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}
/*glow*/


@keyframes neonGA {
  from {
    text-shadow: 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 180px #4BA436, 0 0 250px #4BA436, 0 0 300px #4BA436, 0 0 350px #4BA436, 0 0 390px #4BA436;
  }
  to {    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
}

@-webkit-keyframes GAboxShadow {
  from {
    box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}

/******************************************/
/**********END Added Effects***************/
/******************************************/

