html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Josefin Slab', serif;
  color:#ccc;
  font-weight: 800;

}

*,
*::before,
*::after{
	box-sizing:inherit;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


.container{
	margin: 0 auto;
}


.content{
  background-image: url("../images/washington-dc-skyline-michael-tompsett.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  background-color: #00697f;
  margin: 0 auto;
  height: 125vh;
}

header{
	padding: 15px;
	width: 100%;
	float: left;
  height: 45vh;	
}

h1{
	margin: 0;
	padding: 0;
}

h1{
  font-size: 32px;
  font-weight: 700;
}

.navlist{
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  text-align: center;
  width:100%;
}

.navlist img{
  float:right;
  padding-right:10px;
  margin-bottom: 25px;
  padding-top: 15px;
}

.navOptions{
  text-align: center;
  width:100%;
  text-align: center;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height:20vh;
   border: 1px solid black;
}


#out{
  /*
  Ensure background is added first
  */  
  background: url("../images/watercolor.png");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}


.navOptions>li{
  display: inline-block;
  width:25%;
  margin:0;
  padding:0;
  padding: 25px;
}

.navOptions a { 
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
}

.navOptions a:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

.navOptions a a:hover {
  color: #fff;
}


.navOptions a {
  text-decoration: none;
  line-height: 1.5;
  vertical-align: text-bottom;
  margin: 0;
  text-align: center;
  font-size: 35px;
}


footer{
  text-align: center;
  background-color: #f26051;
  height:85vh;
  padding-top: 425px;
}

footer ul li {
  display: inline-block;
  list-style: none;
}


footer ul li a img:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/******************************************/
/*****************Lineup*******************/
/******************************************/
.lineupSummary{
  text-decoration: none;
  color: #1a39ff;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  background-color: #f26051;
  display: inline-block;
  padding:15px;
  font-family: 'Josefin Slab', serif;
  letter-spacing: .15em;
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
}


.lineupMain{
    padding: 0 50 200 50;
}

/*.takeUpSpace{
  height: 
  content: "";
  border: 5px solid red;
}*/

.artists{
  padding: 50px;
  text-align: center;
  background-image: url(../images/green-grass.png);
  height: 125vh;
  background-repeat: repeat;
  background-position: top;
  position: relative;
}

.artists::after{
    height: 140px;
    bottom: -100px;
    background-image: url(../images/green-bottom-tear.png);
    z-index: 2;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-position: top;
}


.artists a span {
  color: black;
  text-decoration: none;
  padding: 0 20px;
  line-height: 1.5em;
}

.artists > a{
  display: inline-block;
  padding:10px;
}

.artists > a::before
{
    content: "\25A0";
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    font-size: .65em;
    line-height: 2.30em;
    text-decoration: none
}

.featherlight-content{
  overflow: hidden;
}

#mylightbox{
  height:500px;
  width:600px;
  overflow:hidden;
  background-color:#00697f;
  background-image: url("../images/blue-dots.png");
  background-repeat: repeat;
  background-position: top;
  border: 1px solid orange;
}

#mylightbox div{
  text-align: center;
  font-size: 45px;
  font-family: "Pacifico", cursive;
  letter-spacing: .15em;
  padding-top: 10px;
}

#mylightbox img{
  display:block;
  width:200px;
  height:auto;
  margin:auto;
  padding:15px;
  position: relative;
}

#mylightbox iframe{
  position: absolute;
  left: 180px;
  top:275px;
}
/******************************************/
/***************END LINEUP*****************/
/******************************************/


/******************************************/
/****************TICKETS*******************/
/******************************************/

.ticketHeader{
  text-align: center;
  width: 100%;
  display: inline-block;
  border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  background-color: #f26051;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.ticketHeader li{
  display: inline-block;
  width: 31%;
  border-left: solid #f0f0f5 1px;
}

.ticketHeader li { 
  font-family: 'Josefin Slab', serif;
  letter-spacing: .15em;
  text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a;
}


.ticketHeader li:hover {
  -webkit-animation: neonGA 1.5s ease-in-out infinite alternate;
  -moz-animation: neonGA 1.5s ease-in-out infinite alternate;
  animation: neonGA 1.5s ease-in-out infinite alternate;
}

.ticketHeader a{
  text-decoration: none;
  color: #1a39ff;
  font-weight: 800;
  font-size: 35px;
}


.gaButton a{ 
  color: #4BA436;
}

.ticketSection{
  padding-top: 200px;
}

.ticketsMain{
  background-image: url("../images/blue-dots.png");
  background-repeat: repeat;
  background-position: top;
  background-color: #00697f;
  margin: 0 auto;
  position: relative;
  height:125vh;
}


.ticketsMain::after{
    height: 140px;
    bottom: -100px;
    background-image: url(../images/bottom-tear.png);
    z-index: 2;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-position: top;
}

.tickets{
  padding-bottom: 130px;
  /*border: 5px solid red;*/
}

.ticketType{
  width: 100%;
  overflow: hidden;
}

.ticketImage{
  width: 25%;
  float: left;
  height: auto;
  padding:15px;
  padding-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;

}

.placeholderInfo{
  margin-top: 20px;
}

.ticketInfo{
  width:50%;
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1;
}

.ticketInfo h1{
  padding-top: 5px;
  font-size: 35px;
}

.ticketInfo h2{
  padding-top: 10px;
  font-size: 32px;
}

.ticketInfo li{
  padding:15px;
  font-size: 25px;
}


.ticketInfo ul{
  padding:15px;
}

.ticketInfo{
    -webkit-animation: GAboxShadow 1.5s ease-in-out infinite alternate;
  -moz-animation: GAboxShadow 1.5s ease-in-out infinite alternate;
  animation: GAboxShadow 1.5s ease-in-out infinite alternate;

}

.startingImage{
    position: absolute;
    transform: translateX(400%);
    overflow: hidden;
    top: 5%;
}

.startingInfo{
    position: absolute;
   transform: translateX(-200%);
    top: 15%;
}

.back{
  background: url("../images/watercolor.png");
  background-size: cover;
  color: #EFE6D7; 
}

.hideMe{
  display:none;
}

.ticketsFooter{
  height:35vh;
  padding-top: 140px;
}

/******************************************/
/**************END TICKETS*****************/
/******************************************/




/******************************************/
/************Added Effects*****************/
/******************************************/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*Neon Effect*/
/*glow for webkit*/


@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1a39ff, 0 0 35px #1a39ff, 0 0 40px #1a39ff, 0 0 50px #1a39ff, 0 0 75px #1a39ff;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1a39ff, 0 0 35px #1a39ff, 0 0 40px #1a39ff, 0 0 50px #1a39ff, 0 0 75px #1a39ff;
  }
}
/*glow*/


@keyframes neon6 {
  from {
    text-shadow: 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 180px #1a39ff, 0 0 250px #1a39ff, 0 0 300px #1a39ff, 0 0 350px #1a39ff, 0 0 390px #1a39ff;
  }
  to {    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1a39ff, 0 0 70px #1a39ff, 0 0 80px #1a39ff, 0 0 100px #1a39ff, 0 0 150px #1a39ff;
  }
}


/*GA Effects #4BA436*/

@-webkit-keyframes neonGA {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}
/*glow for mozilla*/

@-moz-keyframes neonGA {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}
/*glow*/


@keyframes neonGA {
  from {
    text-shadow: 0 0 80px #fff, 0 0 100px #fff, 0 0 120px #fff, 0 0 180px #4BA436, 0 0 250px #4BA436, 0 0 300px #4BA436, 0 0 350px #4BA436, 0 0 390px #4BA436;
  }
  to {    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
}

@-webkit-keyframes GAboxShadow {
  from {
    box-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #4BA436, 0 0 70px #4BA436, 0 0 80px #4BA436, 0 0 100px #4BA436, 0 0 150px #4BA436;
  }
  to {
    box-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #4BA436, 0 0 35px #4BA436, 0 0 40px #4BA436, 0 0 50px #4BA436, 0 0 75px #4BA436;
  }
}

/******************************************/
/**********END Added Effects***************/
/******************************************/

