html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after{
	box-sizing:inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container{
	font-family: 'Exo 2', sans-serif;
	font-size: 28px;
	width: 960px;
	margin: auto;
}


.content{
   background-image:url(../images/background.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

header{
	padding: 15px;
	width: 100%;
	float: left;	
}

h1{
	font-size: 32px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.navlist{
	font-size: 30px;
	font-weight: 700;
	list-style-type: none;
	margin: 0;
	padding-top: 40px;
	text-align: center;
}

.navlist > li{
	display: inline-block;
	width:32%;
    margin:0;
    padding:0;
    padding-top: 25px;
}

.firstA{
	padding-left: 75px;
}

.secondA{
	padding-right: 60px;
}

.thirdA{
	padding-right: 165px;	
}

.navlist a {
  text-decoration: none;
  line-height: 1.5;
  vertical-align: text-bottom;
  margin: 0;
  text-align: center;
}

.middle-nav{
	font-size: 1.2em;
}

/******************************************/
/************Added Effects*****************/
/******************************************/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  /*background: #33cc33;*/
 /* background:#00cc33; */
  background: #0099cc;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/******************************************/
/**********END Added Effects***************/
/******************************************/

/******************************************/
/*****************Lineup*******************/
/******************************************/

.artists{
	padding: 10px;
	padding-bottom: 175px;
}

.artists a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  line-height: 1.5;
}

.artists > li{
	display: inline-block;
}

/*
here: https://www.coachella.com/lineup/
they use both before and after and then
use a combination of "right: -.375rem;"
and left on the before & after. is there 
a better way to do this?*/

.artists > li::before,
.artists > li::after{
	content:"\2022";
}
/*
another thing about that lineup page i like
was how the rows aren't all uniform. not 
sure how they staggered each one*/

.popup{
	background-color: orange;
	z-index: 1;

}

/******************************************/
/***************END LINEUP*****************/
/******************************************/


/******************************************/
/****************TICKETS*******************/
/******************************************/

.ticketHeader{
	text-align: center;
	width: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
  background-color: #333;
  opacity: 0.7;
  display: inline-block;

}

.ticketHeader li{
	display: inline-block;
	width: 31%;
	padding-top: 5px;
	padding-bottom: 5px;
  border-left: solid #f0f0f5 1px;
}

.ticketHeader li:first-of-type{
  border-left: none;
}

.tickets{
	padding-bottom: 130px;
}

.ticketHeader a{
	text-decoration: none;
  color: #f0f0f5;

}

.ticketType{
  width: 100%;
  float:left;
  background: rgba(31,41,74,0.7);
  margin-bottom: 20px;

}


.ticketImage{
  width: 35%;
  float: left;
  height: auto;
  padding-bottom: 30px;
}

.ticketInfo{
  padding-top: 30px;
  width:50%;
  float: left;
  display: inline-block;
}

.hideMe{
	display:none;
}

/******************************************/
/**************END TICKETS*****************/
/******************************************/









