@media (min-width: 768px){
	/*tablet portrait*/


header{
  padding: 15px;
  height: auto;
}

.navOptions{
  padding-top: 0px;
}

.navOptions>li{
  display: inline-block;
  width:25%;
  margin:0;
  padding:0;
  padding: 25px;
}

.out{
  font-size: 32px;
}

footer{
  height:85vh;
  padding-top: 405px;
}

footer ul li a img:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/******************************************/
/*****************Lineup*******************/
/******************************************/

.artists{
  padding: 10px;
  height: 100vh;
}

.artists span{
  font-size: 25px;
}


.featherlight-content{
  overflow: hidden;
}

#mylightbox{
  width:350px;
}

#mylightbox div{
  font-size: 32px;
}

#mylightbox img{
  width:200px;
  padding:15px;
}

#mylightbox iframe{
    left: 60px;
    top: 250px;
}
/******************************************/
/***************END LINEUP*****************/
/******************************************/



/******************************************/
/****************TICKETS*******************/
/******************************************/



.ticketsMain{
  height: 185vh;
}


.ticketsMain::after{
    height: 140px;
    bottom: -100px;
}


.ticketsFooter{
  height:35vh;
  padding-top: 140px;
}

.startingImage{
    position: absolute;
    transform: translateX(180%);
    overflow: hidden;
    top: 45%;
}

.startingInfo{
    position: absolute;
    padding-top: 0px;
    overflow: hidden;
    transform: translateX(-140%);
    top: 5%;
}

.ticketImage{
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  padding:15px;
  padding-bottom: 30px;
  display: inline;
}


.ticketInfo{
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  padding:0px;
}

/******************************************/
/**************END TICKETS*****************/
/******************************************/




}  /*END 768*/

/******************************************/
/***************END LINEUP*****************/
/******************************************/


@media (min-width: 1024px){
	/*tablet landscape*/


.container{
	font-size: 28px;
	max-width: 1100px;
}

.out{
  font-size: 35px;
}

.navOptions{
  border:none;
}

.navOptions a{
  font-size: 32px;
}


.content{
  height: 125vh;
}

header{
  height: 45vh; 
}


.navOptions{
  background: none;
}

footer{
    height: 155vh;
    padding-top: 595px;
}

/******************************************/
/*****************Lineup*******************/
/******************************************/
.lineupSummary{
  font-size: 35px;
  font-weight: 800;
  border-top: 3px solid #026978;
  border-bottom: 3px solid #026978;
  letter-spacing: .15em;
}


.lineupMain{
    padding: 0 50 200 50;
}

.artists{
  padding: 50px;
  height: 175vh;
}

.artists a{
  padding:25px;
}

#mylightbox{
  height:600px;
  width:600px;
}

#mylightbox div{
  font-size: 45px;
  padding-top: 10px;
}

#mylightbox img{
  width:325px;
  padding:15px;
}

#mylightbox iframe{
  left: 200px;
  top:400px;
}


/******************************************/
/***************END LINEUP*****************/
/******************************************/


/******************************************/
/****************TICKETS*******************/
/******************************************/

.ticketHeader{
  padding-top: 15px;
  padding-bottom: 15px; 
}

.ticketHeader a{
  font-size: 35px;
}



.ticketSection{
  padding-top: 200px;
}

.ticketsMain{
  height:85vh;
}


.ticketsMain::after{
    height: 140px;
    bottom: -100px;
}

.tickets{
  padding-bottom: 130px;
}



.ticketType{
  margin-bottom: 20px;
  display: none;
}

.ticketImage{
  width: 25%;
  float: left;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  padding:15px;
  padding-bottom: 30px;
  display: inline;
}


.ticketInfo{
  max-width: 50%;
  float: left;
  display: inline-block;
  overflow: hidden;
  padding:0px;
}

.ticketInfo h1{
  font-size: 25px;
  padding: 15px;
}

.ticketInfo h2{
  width: 30%;
  margin: auto;
  text-align: center;
}

.ticketInfo ul{
  width: 80%;
  margin: auto;
}

.placeholderInfo{
  margin-top: 20px;
}

.startingImage{
    transform: translateX(400%);
    top: 18%;
}

.startingInfo{
    padding-top: 0px;
    transform: translateX(-200%);
    top: 25%;
}

.back{
  background: url("../images/watercolor.png");
  background-size: cover;
  color: #EFE6D7; 
}

.hideMe{
  display:none;
}


/******************************************/
/**************END TICKETS*****************/
/******************************************/



}